<div name="notMe" style="padding:10px;border:1px solid green;">
    My name is <b>notMe</b>
    <div name="itsMe" style="padding:10px;border:1px solid blue;">
        My name is <b>itsMe</b>
        <div name="notMeEither" style="padding:10px;border:1px solid red;">
            My name is <b>notMeEither</b>
            <div name="tryAgain" style="padding:10px;border:1px solid purple;">
                My name is <b>tryAgain</b>
                <div name="sorryNotMe" style="padding:10px;border:1px solid black;">
                    My name is <b>sorryNotMe</b>
                    <div name="nopeSorry" style="padding:10px;border:1px solid brown;">
                        My name is <b>nopeSorry</b>
                        <input type="button" name="ddddd" value="Find Parent Object with name=itsMe" onclick="findParentNode('itsMe', this);">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    function findParentNode(parentName, childObj) {
        var testObj = childObj.parentNode;
        var count = 1;
        while (testObj.getAttribute('name') != parentName) {
            alert('My name is ' + testObj.getAttribute('name') + '. Let\'s try moving up one level to see what we get.');
            testObj = testObj.parentNode;
            count++;
        }
        // now you have the object you are looking for - do something with it
        alert('Finally found ' + testObj.getAttribute('name') + ' after going up ' + count + ' level(s) through the DOM tree');
    }
</script>

@using Microsoft.AspNet.Identity;
@System.Web.HttpContext.Current.User.Identity.GetUserId()